body{
    font-family: 'Bellota', cursive;
    font-size: 10vh;
    color: black;
    background-color: whitesmoke;
    width: 100vw;
    position: relative;
    left: 0vw;
    top: 0vh;
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    left: 0vw;
    top: 0vh;
    justify-content: center;
    height: 30vh;
    
}
h1{
    box-sizing: border-box; 
    font-size: 10vh;
    text-align: center;
    width: 100vw;
    font-weight: bold; 
    margin: 0;
    padding: 0;     
}

#game1{
    box-sizing: border-box;
    border: none;
    position: absolute;
    left: 5vw;
    top: 30vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    }

#game1 h2{
    font-size: 8vh;
    font-weight: lighter;
    text-align: center;
    margin: 0 auto;
}

#game1 button{
    width: 100%;
    height: 15vh;
    margin-top: 1vh;
    border: none;
    background-color: whitesmoke;
}

#game1 button img{
    height: 90%;
}

#yourchoice{
    flex-direction: column;
    width: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: dashed orange 0.5vh;
    box-sizing: border-box;
}
#result{
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;    
}
#result h2{
    font-size: 10vh;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}